@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

img{
  width:100%;
}

.navbrand{
  width: 150px;
  height: auto;
}

.carousel-promo{
  background: url(/images/fan2pics.jpeg) top center;
  background-size: cover;
  @apply text-white mb-32 pt-20 pb-4 ;
}